window {
  border: 1px solid #f4d9e1;
  background-color: #282828;
  font-family: "FiraCode Nerd Font";
  font-size: 15px;
}

#input {
  margin: 5px;
  border-radius: 0px;
  border: none;
  color: #f4d9e1;
  background-color: #928374;
}

#inner-box {
  background-color: #282828;
}

#scroll {
  margin: 0px;
  border: none;
}

#outer-box {
  margin: 5px;
  padding:20px;
  background-color: #282828;
}

#text {
  padding: 5px;
  color: #f4d9e1;
}

#entry:selected {
  background-color: #928374;
}
